.main{
    padding-top: 10px;
    text-align: left;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #66BB6A;
    color: #ffffff;
    float: right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #1B5E20;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 3px;
    padding: 5px 10px;
   
}

.close:hover {
    background-color: #f44336;
    color: white;
     border-radius: 50%;
}


ul li{
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  transition: 0.2s;
  /*make the user select unselectable*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}

ul li:hover {
    background: #E3F2FD;
}

ul li:nth-child(odd){
	background: #f9f9f9;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

ul li.checked {
    background: #0277BD;
    color: #fff;
    text-decoration: line-through;
}